*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
#main{

}

#header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 46.4px;
    background-color: #000;
    z-index: 1;
}

#nav{
    display: inline;
}
#nav>li{
    display: inline;
    float: left;
}
#nav>li>a{
    color: #fff;
    text-transform: uppercase;
    padding: 12px 24px;
}
#nav li a{
    text-decoration: none;
    line-height: 22.4px;
    display: block;
}
#nav>li:hover>a{
    background-color: #ccc;
    color: #000;
}
.subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0 0 0 / 20%);
}
#nav li:hover .subnav{
    display: block;
}
.subnav li{
    display: block;
}
.subnav li:hover{
    background-color: #ccc;
}
.subnav li a{
    color: #000;
    padding: 8px 16px;
    width: 128px;
    box-sizing: content-box;
}
.nav-down{
    font-size: smaller;
    font-weight: bold;
}
.header-search{
    line-height: 22.4px;
    padding: 12px 24px;
    display: block;
    float: right;
    color: #fff;
    text-decoration: none;
    font-size: medium;
}
.header-search:hover{
    background-color: red;
}
#slider{
    position: relative;
    margin-top: 46.4px;
    background: url(../img/slider/slider03.jpg)top center / cover no-repeat;
    padding-top: 50%;
}
.slider-text{
    position: absolute;
    color: #fff;
    bottom: 0;
    padding: 41px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.slider-text h3{
    font-size: 31px;
    font-weight: 100;
    margin: 17px 0px;
}
#content{

}
.content-selection{
    max-width: 800px;
    margin: 0 auto;
    padding: 64px 16px 112px;
    overflow: hidden;
}
.content-heading{
    text-align: center;
    margin: 10px 0;
    letter-spacing: 9px;
    font-size: 30px;
    font-weight: 100;
}
.content-sub{
    text-align: center;
    opacity: 0.4;
    font-style: italic;
    font-size: 15px;
    margin: 15px 0;
}
.band-text{
    text-align: justify;
    font-size: 15px;
    word-spacing: -1.2px;
    line-height: 1.5;
    margin: 15px 0;
}
.members-list{
    padding-top: 32px;
    text-align: center;
}
.member-name{
    margin: 15px 0; 
}
.member-img{
    width: 154px;
    border-radius: 10%;
}

.background-dark{
    background-color: #000;
}
.text-white{
    color: #fff!important;
}
.tour-time{
    background-color: #fff;
}
.time-sold{
    color: #757575;
    display: block;
    font-size: 15px;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}
.sold-out{
    color: #fff;
    background: red;
    padding: 3px 9px;
    margin-left: 22px;
}
.number-tickets{
    width: 24px;
    background: #000;
    color: #fff;
    height: 24px;
    border-radius: 50%;
    float: right;
    text-align: center;
    line-height: 25px;
    margin: -3px 0;
}
.row{
    margin: 0 -8px;
}
.col{
    float: left;
    padding: 0 8px;
    display: block;
}
.col_third{
    width: 33.33333%;
}
.places-list{
    overflow: hidden;
    line-height: 22.4px;
}
.place-img{
    cursor: pointer;
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.7;
}
.place-content{
    background-color: #fff;
    padding:0.1px 16px;
    font-size: 15px;
}
.place-heading{
    margin: 15px 0;
    font-weight: 600;
}
.place-time{
    margin: 15px 0;
    opacity: 0.6;
}
.place-text{
    margin: 15px 0;
}
.btn{
    cursor: pointer;
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    margin-bottom: 16px;
    border: 1px solid #000;
    line-height: 22.4px;
    font-weight: 650;
    letter-spacing: 0.8px;
}
.btn:hover{
    color: #000;
    background-color: #ccc;
    border: 1px solid #ccc;
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}
/* contact---------------------------------------------------------------------- */
.pull-right{
    float: right !important;
}
.contact-box{
    padding: 32px 0;
}
.contact-infor{
    font-size: 18px;
}
.contact-infor i[class*='ti-']{
    width: 30px;
    display: inline-block;
    line-height: 1.5;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
.map-selection img{
    width: 100%;
}
#footer{
    padding: 64px 16px;
    text-align: center;
    line-height: 22.4px;
    font-size: 20px;
}
.socials-list a{
    text-decoration: none;
    color: rgba(0 0 0 / 0.7);
}
.copy-right a:hover,
.socials-list a:hover{
    color: #b1b1b1;
}
.copy-right{
    margin: 15px 0;
}
.copy-right a{
    color: rgba(0 0 0 / 0.7);
}
/* modal --------------------------------------------------------------------- */
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0 0 0 / 0.4);
    align-items: center;
    justify-content: center;
}
.modal.open{
    display: flex;
}
.modal-container{
    background: #fff;
    position: relative;
    width: 900px;
    max-width: calc(100% - 32px);
    animation: modalappear ease 0.4s;
}
@keyframes modalappear {
    from{
        transform: translateY(-100px);
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.modal-heading{
    background-color: #009688;
    padding: 42px 16px;
    font-size: 30px;
    text-align: center;
    color: #fff;
    letter-spacing: 5px;
}
.modal-heading i{
    margin-right: 15px;
}
.modal-close{
    cursor: pointer;
    position: absolute;
    padding: 8px 16px;
    right: 0;
    top: 0;
    line-height: 36px;
    color: #fff;
    font-size: 14px;
}
.modal-close:hover{
    background: #ccc;
    color: #000;
}
.modal-body{
    padding: 0.1px 16px;
}
.modal-label{
    margin: 15px 0;
}
.modal-input{
    padding: 8px;
    width: 100%;
    line-height: 22.4px;
}
.button-pay{
    cursor: pointer;
    margin: 16px 0;
    padding: 16px;
    line-height: 22.4px;
    background-color: #009688;
    color: #fff;
    text-align: center;
    width: 100%;
    border: none;
    font-weight: bolder;
}
.button-pay:hover{
    background-color: #ccc;
    color: #000;
}
.modal-help{
    margin: 15px 16px 15px 0;
    float: right;
}
.modal-help a{
    color: #009688;
}
